#header {
  color: white;
  a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    transition: 250ms;
  }
  .logo {
    margin-right: 30px;
  }
  #bg-dark {
    background-color: gray;
  }
}
