body {
  min-height: 100vh;
  background-color: #1b1717;
}
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #4b484831;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #747071;
  border-radius: 20px;
  border: 1px solid #ffffff2c;
}
